<%- include("partials/header") -%>
<h1>Home</h1>

<p><%= Content %></p>

        <%  post.forEach(function(message){ %>
              <h1> <%= message.title  %> </h1>
              <p> <%= message.text.substring(0,100) + "......" %>
                <a href= "/posts/<%= message._id %> " >Read More</a>
              </p> 
         <% }) %>
    

<%- include("partials/footer") -%>